/**
 * Priceco style guide and elements
 */
$font-family: "Roboto", sans-serif !default;


/**
 * Colors
 */
$priceco-blue: #4DA6E2 !default;
$priceco-red: #ED1B2D !default;
$priceco-yellow: #FDCD07 !default;
$priceco-blue-gradient: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(141,198,236,1) 100%) !default;

/**
 * Images
 * Cause of there is a strange error when inlineing svg from github, we use the local package in node_modules.
 */

// $priceco-logo: inline-image( 'https://raw.githubusercontent.com/LasseHaslev/adapt-priceco-style/master/assets/priceco_logo.svg' );
// $priceco-price-bg: inline-image( 'https://raw.githubusercontent.com/LasseHaslev/adapt-priceco-style/master/assets/priceco-price_tag.svg' );
// $priceco-price-match: inline-image( 'https://raw.githubusercontent.com/LasseHaslev/adapt-priceco-style/master/assets/price-match.png' );
// $priceco-three-for-two: inline-image( 'https://raw.githubusercontent.com/LasseHaslev/adapt-priceco-style/master/assets/three-for-two.png' );

$priceco-logo: inline-image( './node_modules/@priceco/style/assets/priceco_logo.svg' ) !default;
$priceco-price-bg: inline-image( './node_modules/@priceco/style/assets/priceco-price_tag.svg' ) !default;
$priceco-price-match: inline-image( './node_modules/@priceco/style/assets/price-match.png' ) !default;
$priceco-three-for-two: inline-image( './node_modules/@priceco/style/assets/three-for-two.png' ) !default;
