$bomb-font-size: 1em !default;

.bomb {

    font-size: $bomb-font-size;

    &.is-pricematch {
        @include background-image( $priceco-price-match );
        padding-bottom: 8em;
        width: 10em;
    }

    &.is-threefortwo {
        @include background-image( $priceco-three-for-two );
        width: 9em;
        padding-bottom: 9em;
    }

}
